*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  height: 100vh;
}
body{
  min-height: 100vh;
}
img{
  width: 100%;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.items-center{
  align-items: center;
}
.gap-1{
  gap: 0.5rem;
}
.gap-2{
  gap: 1rem;
}
.gap-3{
  gap: 1.5rem;
}
.gap-4{
  gap: 2rem;
}
.text-white{
  color: #fff;
}
.pa-1{
  padding: 0.5rem;
}
.pa-2{
  padding: 1rem;
}
.pa-3{
  padding: 1.5rem;
}
.pa-4{
  padding: 2rem;
}